/* -----------------------------CSS RESET------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  font-family: "Work Sans", "Arial", sans-serif;
  line-height: 1;
  position: relative;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* -----------------------End of CSS RESET---------------------- */

/*
-------------------------------------------------------------
                          NAVBAR
-------------------------------------------------------------
*/

#navbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 1;
}

h4 {
  padding-top: 3rem;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.tabs {
  max-width: 26rem;
  font-family: 'Inter', sans-serif;
}

.navbar-toggler {
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: #ff2100;
  color: black;
}

@media only screen and (max-width: 768px) {
  .tabs {
    max-width: 200rem;
    position: absolute;
    top: 3rem;
    right: 0;
    font-size: 2rem;
  }

  .nav-tabs {
    flex-direction: column;
  }

  .nav-item {
    border: none;
    border-radius: 0;
    display: block;
    padding: 1rem 2rem;
  }

  .nav-tabs .nav-link {
    border: none;
    border-bottom: #343a40 1px solid;
  }

  .nav-tabs .nav-link.active {
    border: none;
    background-color: #343a40;
    border-bottom: #343a40 1px solid;
  }

  .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: #dee2e6 1px solid;
  }
}

/*
--------------------------------------------------------------
                            MAIN and SECTIONS
--------------------------------------------------------------
*/
main {
  display: flex;
  flex-direction: column;
  height: 200vh; /* -------------------------------------- */
  background-color: #1c1a19;
}

/* ---------------_Introduction--------------------- */

.introduction {
  order: -2;
}

.spacing {
  height: 23vh;
}

.welcome {
  flex-direction: column;
  order: -1;
  color: #fff;
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: transparent;
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.1tbcv17CChdEB5c5eg2iOAHaFj%26pid%3DApi&f=1);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-position: center 94%;
  filter: brightness(4);
  margin-bottom: 0.4rem;
}

h1::selection {
  color: red;
  background: gray;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.welcome p {
  padding: 0.5rem 0;
}

aside {
  display: flex;
  justify-content: space-around;
  position: sticky;
  border-bottom-right-radius: 2.5rem;
  background-color: #1c1a19;
  width: 60%;
  top: 3rem;
  padding-left: 0.7rem;
}

.social {
  color: #dbd8d7;
  padding: 0.8rem 1rem;
  font-size: 2rem;
  display: block;
}

.social:hover {
  color: #ff2100;
}

@media only screen and (min-width: 768px) {
  main {
    display: block;
  }

  .spacing {
    height: 30vh;
  }

  h1 {
    background-position: center 83%;
  }

  aside {
    flex-direction: column;
    width: 4rem;
    float: left;
  }

  section {
    padding: 0 5.5rem;
    display: flex;
  }
}

/* ---------------_Portfolio-------------------- */
